.card-section {
    padding: 88px 0px 48px 0px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 48px;
        text-align: center;
    }

    &__list {
        gap: 56px;
        display: flex;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 32px;
        width: 316px;
        height: 181px;
        text-align: center;
        border-radius: 32px;
        background-color: var(--color-brand-white);
    }

    &__p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
    }
}