.header-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    max-height: fit-content;
    background-color: #FFFFFF40;

    @media screen and (max-width: $bp-tablet) {
        background-color: transparent;
        padding: 16px;
    }

    &__container {
        gap: 16px;
        display: flex;
        align-items: center;
    }

    &__logotype {

        @media screen and (max-width: $bp-mobile) {
            width: 57px;
            height: 30px;
        }
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            gap: 56px;
        }
    }

    &__icon-link {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 32px;
        }
    }

    &__burger-menu {
        fill: var(--color-brand-white);
        background-color: transparent;
        border: none;

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }

        &--litel {


            @media screen and (max-width: $bp-mobile) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__svg {
        transition: fill 0.2s;

        &:hover {
            fill: var(--color-brand-blue);
        }
    }
}